/*Written by Tsz Kin LIU, for CREATE NSW Inc. (CREATE UNSW)*/
/*Assisted by Leesa Deng (Jan 2019)*/
/*First Modified by Jack Robbers (Dec 2019)*/

/*general*/
*{padding: 0px;}

body {font-family: 'Roboto', sans-serif; font-size: 16px; margin: 0px auto;}
a {color: black; text-decoration: none;}
a:hover {color: #fcb72b;}

/*header & nav bar*/
header {font-size: 16px; color: white; background-color:#1a2239;}
.logo img {height: 60px;}
.nav-item a {display:block; color: white!important; text-align: center; text-transform: uppercase; text-decoration: none; padding: 30px 15px;}
.nav-item a:hover{background-color: #253469!important; color: white!important;}
.navbar {padding: 0px 1rem!important;}

/*buttons customs*/
.btn {margin: 2px;}
.btn-primary {background-color: #bf0713!important; color: white!important; text-transform: uppercase; border: 2px solid #bf0713;}
.btn-primary:hover {background-color: white!important; color: #bf0713!important; border: 2px solid #bf0713;}
.btn-secondary {background-color: #dbdbdb!important; color: black!important; text-transform: uppercase; border: 2px solid #dbdbdb!important;}
.btn-secondary:hover {background-color: white!important; color: #bf0713!important; border: 2px solid #bf0713!important;}
button.active {background-color: #bf0713!important; color: white!important; border: 2px solid #bf0713!important;}

/*colors*/
.black {background-color:#231f20; color: white;}
.red {color: #bf0713;}

/*social media buttons*/
.fa {color:#1a2239; padding: 5px 10px; text-decoration: none;}
.fa:hover {color:#fcb72b;}
.fa.fa-home:hover, .fa.fa-fa-angle-right:hover {color:black;}
.btn-secondary .fa:hover {color: #bf0713;}

/*cover image*/
.cover-img {width:100%; height:35vw; overflow:hidden; position: relative;}
.cover-img img{position: relative; transform: translateY(-25%); width: 100%; filter:brightness(40%)}
.cover-button {text-align:center;}
.title-block {color: white; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);text-transform: uppercase;; margin: 10px 0px; line-height: 1.6;}
.title-block h1{font-size: 40px; font-weight: 800;}
.title-block p{font-size: 25px; font-weight: 500;}

/*content, rows and columns*/
main {margin: 20px auto;}
.right-align {float: right; text-align:right; width: auto; margin: 0px auto;}

/*column grids*/
.columns, .columns-footer {display: block; float: left; text-align:left; margin: 10px 5px; margin-bottom: 1rem;}
.columns img, .columns-footer {width: 100%;}
.shadows {box-shadow: 0 0px 10px #d9d9d9;}
.shadows:hover {box-shadow: 0 5px 15px #999999;}

/*equal grids*/
.twogrids {width: calc(50% - 10px); }
.threegrids {width: calc(33.33% - 10px);}
.fourgrids {width: calc(25% - 10px);}
.fivegrids {width: calc(20% - 10px);}

/*Event Table*/
.Unsw_Terms {margin-top: 5px;}

/*accordion*/
.projectintro {float: right; width: 260px; margin: 5px;}
.accordion {cursor: pointer; padding: 20px; width: 100%; text-align: left; border: none; transition: 0.4s;box-shadow: 0 2px 2px 0 grey, 0 2px 2px 0 grey;}
.active, .accordion:hover {background-color:#bf0713; color: white;}
.panel {background-color: white; overflow: hidden; max-height: 0;transition: max-height 0.2s ease-out;}
.panel p {padding: 10px;}

/*collapse*/
.collapsible {background-color: #dbdbdb; color: #444; cursor: pointer; padding: 10px; width: 100%; border: none; text-align: left; outline: none; text-transform: uppercase; font-weight: 600;}
.active, .collapsible:hover {background-color: #bf0713; color: white;}
.collapse-content {display: none; overflow: hidden; background-color: #dbdbdb;}

/*event table*/
table {border-collapse: collapse;	width: 98%;	margin: 10px;}
th {height: 30px;}
th, td {padding: 10px;text-align: left; border-bottom: 1px solid #ddd;}

/*filter*/
.filterDiv {float: left; position: relative; background-color: #f2f2f2; color: #231f20; width: calc(25% - 10px); padding-top: 0px; line-height: 20px; 	text-align: center; margin: 5px; display: none; box-shadow: 0 1px 2px 0 grey, 0 1px 2px 0 grey;}

.show {display: block;}

.container {position: relative; margin: 5px auto; overflow: hidden; display: flex; flex-wrap: wrap;}
.container a:hover .filterDiv{background-color: #dbdbdb;}

/*overlaying*/
.imgcontainer {position: relative; width: 100%; padding-top: 0px; overflow: hidden;}
.imgcontainer:hover .overlay {opacity: 0.8;}
.image {position: relative; display: block; width: 100%; height: 260px; object-fit: cover;}
.overlay {position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; opacity: 0; transition: .5s ease; background-color: #231f20;}
.text {color: white; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align: center;}

/*images in markdown pages*/
.contentimg {width: calc(50% - 20px); text-align:center; margin:5px 5px; display:inline-block;}
.peopleimg img {width: 60%;}
.degree {font-size: 14px; font-style: italic;}

/*events*/
table {border-collapse: collapse; width: 98%; margin: 10px;}
th {height: 30px;}
th, td {padding: 10px;text-align: left; border-bottom: 1px solid #ddd;}

/*Facebook*/
.faceboo-frame {display: block; margin-left: 50px; margin-right: 50px; width: 100%;}

/*3:2 aspect-ratio (square)*/
.landscape-container {position: relative; width: 100%; padding-top: 66.66%;}
.landscape-sized-container {position: relative; width: 100%;}
.landscaped {position: absolute; margin: auto;
  vertical-align: middle; float: none; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%)}
.landscaped img {width: 100%; object-fit: contain;}

/*1:1 aspect-ratio (square)*/
.squared-container {position: relative; width: 100%; padding-top: 100%;}
.photo-sized-container {position: relative; width: 100%;}
.squared {position: absolute; margin: auto;
  vertical-align: middle; float: none; top: 50%; left: 50%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%)}
.squared img {width: 100%; object-fit: contain;}

/*sales section*/
.map {width:530px; height:300px; margin-left: 5px; margin-right: 5px;}
.searchfunction {padding: 5px;width: 200px; margin:5px;}
.salesimg {width: 100%; height:150px; margin: auto; overflow:hidden;}
.salesimg img{width: 265px; transform: translateY(-10%);}
.products-title {float: left; text-align:left;}
.purchase input, .productinfo input {padding: 10px;}
.productimg {width: 49%; text-align: center; float: left;}
.productimg img {width: 50%; margin: 5px;}

/*footer including sponsors and social media footer*/
.sub-footer {background-color:#dbdbdb; padding: 15px 0px;}
footer {background-color:#1a2239!important; padding:15px 0px;}
footer a {color: white; text-decoration: none;}
footer a:hover {color: #fcb72b; text-decoration: none;}
footer p {color: white;}
.box {display: block; width: 100%; margin: 20px auto; text-align: center;}
.box img {height: 60px; margin: 10px;}

/*subscribe*/
#mce-EMAIL{padding: 5px; border: none; display:table-cell; font-size: 16px; height: 40px; width: 100%;}
.subscribe_column {display:table-cell; float: left; width: 100%;}

/*top function*/
		#topBtn {
		  display: none;
		  position: fixed;
		  bottom: 25px;
		  right: 25px;
		  z-index: 99;
		  font-size: 18px;
		  border: none;
		  outline: none;
		  background-color: white;
		  opacity: 0.5;
		  color: #231f20;
		  cursor: pointer;
		  padding: 15px;
		  border-radius: 4px;
		}

		#topBtn:hover {
		  background-color: #fcb72b;
		  opacity: 1;
		}

/* Responsive layout*/
@media (max-width: 1100px) {
	.title-block h1{font-size: 4vw;}
	.title-block p{font-size: 3vw;}

	.map {width:47vw; height:300px;}
	.salesimg {width: 23.5vw; height: 12vw;}
	.salesimg img{width: 23.5vw;}
	.image {height: 23.5vw;}

}

/* Responsive layout*/
@media (max-width: 991.98px) {
	.navbar {padding: 0px 1rem!important;}
	.nav-item a {display:block; text-align: center; text-transform: uppercase; text-decoration: none; padding: 10px 15px!important;}

	.twogrids {width: calc(50% - 10px); }
	.threegrids {width: calc(33.33% - 10px);}
	.fourgrids, .filterDiv {width: calc(33.33% - 10px);}

	.salesimg {width: 23vw; height: 12vw;}
	.salesimg img{width: 23vw;}
	.image {height: 23vw;}
}

/* Responsive layout*/
@media (max-width: 767.98px) {
	.cover-img {width:100%; height:50vw;}
	.twogrids, .threegrids, .fourgrids, .filterDiv {width: calc(50% - 10px);}
	.signup, .projects {width: calc(100% - 40px);}
	.box {width: 100%; margin: 20px auto; text-align: center;}
	.box .logo {width: 100%;}
	.logo img {margin: 10px auto; display: block;}

	.left, .right-align {width: 100%; text-align: center;}
	.right button {margin: auto;}
	.buttong, .right .buttong {margin: 20px auto;}

	.peopleimg img {width: 60%;}
	.salesimg {width: 47vw; height: 30vw;}
	.salesimg img{width: 47vw;}
	.image {height: 47vw;}
}

/* Responsive layout*/
@media (max-width: 575.98px) {
	.twogrids, .threegrids, .fourgrids, .filterDiv {width: calc(100% - 10px); }
	.columns-footer {width: 100%; text-align: center;}

	.productimg {width: 100%;}
	.mediab {width: 80%; height:auto; margin: auto 10vw;}
	.accordion {text-align: center;}
	.map {width:100%; height:300px;}
	.salesimg {width: 100%; height: 60vw;}
	.salesimg img{width: 100%;}
	.image {height: 98vw;}
	.contentimg {width: 100%; text-align:center; margin:5px}
}