/*Written by Tsz Kin LIU, for CREATE NSW Inc. (CREATE UNSW)*/
/*Assisted by Leesa Deng (Jan 2019)*/
/*First Modified by Jack Robbers (Dec 2019)*/

/*general*/
*{padding: 0px;	margin: auto;}

body {font-family: 'Roboto', sans-serif; color: #231f20; font-size: 16px; margin: 0px auto;}
h2, h3, h4, h5 {margin: 10px 0px; padding: 10px;}
p {margin: 10px 0px; line-height: 1.6; padding-left: 10px; padding-right: 10px;}
.wrapper {max-width: 1100px; margin:0 auto;}

/*colors*/
.black {background-color:#231f20; color: white;}
.black a {color:#fcb72b;}
.black a:hover {color:#e29803;}
.white {color: #231f20; background: white;}
.yellow {background-color:#fcb72b; color: white}
.yellow:hover {background-color:#e29803;}
.light-grey {background-color:#fafafa;}
.dark-blue {background-color:#1a2239;}
.dark-grey {background-color: #f1f1f1;}
.create-red {background-color: #bf0713}

/*social media buttons*/
.fa { padding: 0px; font-size: 30px; width: 30px; text-align: center; text-decoration: none;}
.fa-black {color:#1a2239;}
.fa-instagram {color:#1a2239;}
.fa-facebook-official {color:#1a2239;}
.fa-instagram {color:#1a2239;}
.fa-shopping-cart {font-size: 30px;}
.fa:hover {color:#fcb72b;}

/*buttons general*/
.buttong {margin: 5px; padding: 10px 30px; color: white; text-align: center; font-weight: 600; width: auto; cursor: pointer; border-width: 0px; border-radius: 20px; text-transform: uppercase;
}

/*header*/

.header {width: 100%; height: 95px; color: white; top: 0; left: 0; position: relative; overflow: hidden;}
.logo {margin: 20px 20px; float: left; display: block;}
.logo img {height:60px;}
.logo-footer {margin: 20px auto; display:block;}
.logo-footer img {height: 60px; margin: 0px auto;}
.topnav {float:right;}
.menuicon {display: none; right: 0; top: 20px; width: 85px; height: 30px; margin: 35px 10px; color: white; text-decoration: none;}
.topnav ul {list-style: none; margin: 0; padding: 0; overflow: hidden; background: #1a2239;}
.topnav li {float: left;}
.topnav li a {display:block; color: white; text-align: center; text-transform: uppercase; text-decoration: none; padding: 40px 15px;}
.topnav a:hover{background-color: #253469;}
.topnav img {width: 20px;}

/* Responsive layout for header*/
@media screen and (max-width: 950px) {
	.header {height: 150px; position: relative; overflow: visible;}
	.menuicon {display:block;}
	.topnav ul {display: none; position: absolute; background: #1a2239; border: 2px solid #ffffff; right: 10px; top: 65px; width: 130px; border-radius: 4px 0 4px 4px; z-index: 100;}
	.topnav li {width: 100%;}
	.topnav li a {padding: 15px 20px; text-align: center;}
	.topnav:hover ul {display:block;}
}

/*cover image*/
.cover-img {width:100%; height:35vw; overflow:hidden; position: relative;}
.cover-img img{position: relative; transform: translateY(-25%); width: 100%; filter:brightness(60%)}
.cover-button {text-align:center;}
.title-block {color: white; position: absolute; top: 50%; left: 50%; padding: 5px;  transform: translate(-50%, -50%);}
.title-block h1{font-size: 3vmax; font-weight: 800; text-transform: uppercase; text-align: center; margin: 10px 0px; line-height: 1.6; padding-left: 0px; padding-right: 0px;}
.title-block p{font-size: 2vmax; font-size: 20px; font-weight: 500; text-transform: uppercase; text-align: center; margin: 10px 0px; line-height: 1.6; padding-left: 0px; padding-right: 0px;}

/*main-content*/

/*content, rows and columns*/
.main-content {display: block; clear:both; position: relative; margin: 20px auto;}
.main-content ul {list-style-type:none; margin: 10px auto; text-align:left;}
.main-content li {padding-left: 5px;margin: 5px auto;text-align:left;}
.main-content a {color: #253465; font-weight: 700; text-decoration: none;}
.main-content a:hover {color: #fcb72b;}
.row {display:block; clear:both; padding: 5px}
.row:after {content: ""; display: table; clear: both;}
.single-column {display: block; width: calc(100%-20px); height: auto; clear:both; padding: 10px;}
.left {float: left; text-align:left; width:50%; margin: 5px auto;}
.right {float: left; text-align: left; width: auto; margin: 5px auto;}
.right-align {float: right; text-align:right; width: auto; margin: 5px auto;}

/*column grids*/
.table-cell {width: 100%;}
.columns, .columns-team, .columns-footer {display: block; float: left; text-align:left; margin: 10px 10px; margin-bottom: 1rem;}
.columns-projects {display: block; float: left; text-align:left; margin: 10px 0px; margin-bottom: 1rem;}
.shadows {box-shadow: 0 0px 10px #d9d9d9;}
.shadows:hover {box-shadow: 0 5px 15px #999999;}*/
.border-lines {border-width: 5px; border-style:solid; border-color:#3D69B2;}
.columns img, .columns-team img, .columns-footer {width: 100%;}

/*equal grids*/
.twogrids {width: calc(50% - 20px); }
.threegrids {width: calc(33.33% - 20px);}
.fourgrids {width: calc(25% - 20px);}
.fivegrids {width: calc(20% - 20px);}

/*team (2 custom grids)*/
.third-quarter-right {width: calc(75% - 20px); float: right;}
.quarter-left {width: calc(25% - 20px); float: left;}
.profile h2, .profile p {text-align: center;}

/*Event Table*/
.Unsw_Terms {margin-top: 5px;}

/*accordion*/
.projectintro {float: right; width: 260px; margin: 5px;}
.accordion {cursor: pointer; padding: 20px; width: 100%; font-size: 16px; text-align: left; border: none; transition: 0.4s;box-shadow: 0 2px 2px 0 grey, 0 2px 2px 0 grey;}
.active, .accordion:hover {background-color:#bf0713; color: white;}
.panel {padding: 0px 20px; background-color: white; font-size: 16px; overflow: hidden; max-height: 0;transition: max-height 0.2s ease-out;}

/*collapse*/
.collapsible {background-color: #eee; color: #444; cursor: pointer; padding: 10px; width: 100%; border: none; text-align: left; outline: none; font-size: 15px; text-transform: uppercase; font-weight: 700;}
.active, .collapsible:hover {background-color: #bf0713; color: white;}
.collape-content {display: none; overflow: hidden; background-color: #f1f1f1;}

/*event table*/
table {border-collapse: collapse;	width: 98%;	margin: 10px;}
th {height: 30px;}
th, td {padding: 10px;text-align: left; border-bottom: 1px solid #ddd;}

/*filter*/
.btn {
	border: none;
	outline: none;
	padding: 10px 12px;
	background-color: #f1f1f1;
	margin: 5px;
	cursor: pointer;
	box-shadow: 0 1px 3px 0 grey, 0 1px 3px 0 grey;
  }
  
.btn:hover {background-color:#ddd;}
.btn.active {background-color:#bf0713; color: white;}

.filterDiv {
	float: left;
	position: relative;
	background-color: #f2f2f2;
	color: #231f20;
	width: calc(25% - 20px);
	padding-top: 0px;
	line-height: 20px;
	text-align: center;
	margin: 10px 10px;
	display: none;
	box-shadow: 0 1px 2px 0 grey, 0 1px 2px 0 grey;
  }
  
.show {display: block;}

#container {position: relative; margin: 5px auto; overflow: hidden;}
#container a:hover .filterDiv{background-color: #eee;}
#container p {font-size: 20px; font-weight: 700; padding: 2px; text-align: left; margin: 3px auto;}

/*overlaying*/
.imgcontainer {position: relative; width: 100%; padding-top: 0px; overflow: hidden;}
.imgcontainer:hover .overlay {opacity: 0.8;}
.image {position: relative; display: block; width: 100%; height: 265px; object-fit: cover;}
.overlay {position: absolute; top: 0; bottom: 0; left: 0; right: 0; height: 100%; width: 100%; opacity: 0; transition: .5s ease; background-color: #231f20;}
.text {color: white; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); text-align: center;}

/*images in markdown pages*/
.contentimg {width: calc(50% - 20px); text-align:center; margin:5px 5px; display:inline-block;}

/*column colours*/
.section {color: #231f20;}

/*event table*/
table {border-collapse: collapse;	width: 98%;	margin: 10px;}
th {height: 30px;}
th, td {padding: 10px;text-align: left; border-bottom: 1px solid #ddd;}

/*sales section*/
.map {width:530px; height:300px; margin-left: 5px; margin-right: 5px;}
.searchfunction {padding: 5px;width: 200px; margin:5px;}
.salesimg {width: 100%; height:150px; margin: auto; overflow:hidden;}
.salesimg img{width: 265px; transform: translateY(-10%);}
.products-title {float: left; text-align:left;}
.purchase input, .productinfo input {padding: 5px;}
.purchase form {float:right;}
.productimg {width: 49%; text-align: center; float: left;}
.productimg img {width: 50%; margin: 5px;}

/*footer including sponsors and social media footer*/
footer {display: block; overflow: hidden; height:auto; width: 100% ; padding-top:5px; padding-bottom: 5px;}
footer a {color: white; text-decoration: none;}
footer a:hover {color: #fcb72b; text-decoration: none;}
footer p {color: white;}
.box {display: block; float: left; width: auto; margin:10px 0px; padding-right: 20px;}
.box img {height: 60px; margin: 10px 5px 10px 5px;}

/*subscribe*/
#mce-EMAIL{padding: 5px; border: none; font-size: 16px; height: 30px; width: 100%;}
.subscribe_column {display:table-cell; color:#231f20; float: left;}

/*top function*/
		#topBtn {
		  display: none;
		  position: fixed;
		  bottom: 25px;
		  right: 25px;
		  z-index: 99;
		  font-size: 18px;
		  border: none;
		  outline: none;
		  background-color: white;
		  opacity: 0.5;
		  color: #231f20;
		  cursor: pointer;
		  padding: 15px;
		  border-radius: 4px;
		}

		#topBtn:hover {
		  background-color: #fcb72b;
		  opacity: 1;
		}

/* Responsive layout*/
@media (max-width: 1100px) {

	.map {width:47vw; height:300px;}
	.salesimg {width: 23.5vw; height: 12vw;}
	.salesimg img{width: 23.5vw;}
	.image {height: 23.5vw;}
	.subscribe_column {width: 23.5vw;}
	#mce-EMAIL {width:23vw;}

}

/* Responsive layout*/
@media (max-width: 991.98px) {
	.twogrids {width: calc(50% - 20px); }
	.threegrids {width: calc(33.33% - 20px);}
	.fourgrids, .filterDiv {width: calc(33.33% - 20px);}

	.salesimg {width: 23vw; height: 12vw;}
	.salesimg img{width: 23vw;}
	.image {height: 23vw;}
	.subscribe_column {width: 100%; text-align: center;}
	#mce-EMAIL {width:270px;}

}

/* Responsive layout*/
@media (max-width: 767.98px) {
	.cover-img {width:100%; height:50vw;}
	.third-quarter-right, .quarter-left {width: 100%; float: left;}
	.twogrids, .threegrids, .fourgrids, .filterDiv {width: calc(50% - 20px);}
	.signup, .projects {width: calc(100% - 40px);}
	.box {width: 100%; margin: 20px auto; text-align: center;}
	.box .logo {width: 100%;}
	.logo img {margin: 10px auto; display: block;}

	#main {display: block; transition: margin-left .5s; padding: 50px 40px; float: right; position: absolute; top: 0px; right: 0px;}
	.home-video iframe {width: 100%; height:300px; margin: 20px 10px;}
	.left, .right-align, .right {width: 100%; text-align: center;}
	.right button {margin: auto;}
	.buttong, .right .buttong {margin: 20px auto;}

	.peopleimg img {width: 60%;}
	.peopleimg {width: 100%; margin: 5px auto;}
	.salesimg {width: 47vw; height: 30vw;}
	.salesimg img{width: 47vw;}
	.image {height: 47vw;}
	.subscribe_column {width: 100%; text-align: center;}
}

/* Responsive layout*/
@media (max-width: 575.98px) {
	.twogrids, .threegrids, .fourgrids, .filterDiv {width: calc(100% - 20px); }
	.columns-footer {width: 100%; text-align: center;}
	.logo-footer {float: none;}

	.productimg {width: 100%;}
	.team {display: table; width: 265px; margin: auto;float: none;}
	.main-content article {margin: 5px;}
	.mediab {width: 80%; height:auto; margin: auto 10vw;}
	.accordion {text-align: center;}
	.map {width:100%; height:300px;}
	.salesimg {width: 100%; height: 60vw;}
	.salesimg img{width: 100%;}
	.image {height: 98vw;}
	.contentimg {width: 100%; text-align:center; margin:5px}
}