// Written by Tsz Kin LIU, for CREATE NSW Inc. (CREATE UNSW)
// Assisted by Leesa Deng (Jan 2019)
// SCSS Developed By Jack Robbers (Jun 2020)
// Redesigned in January 2022*

// library for nice media queries https://eduardoboucas.github.io/include-media/
@import "node_modules/include-media/dist/_include-media.scss";

// New Color Palette
$create-blue-01: #01084A;
$create-blue-02: #1A237E; // logo
$create-blue-03: #283593;
$create-red-01: #BC1823;
$create-red-02: #D42128; // logo
$create-orange-01: #FF8210;
$create-orange-02: #FFA000; // logo
$create-yellow-01: #f9bf2c;
$create-dark-01: #212121; // mono dark
$create-light-01: #FFFFFF; // mono light

// Supporting Colors
$blue-04: #D5D7F6;
$red-03: #E1686C;
$red-04: #F1A7A9;
$orange-03: #FFC766;
$orange-04: #FFECCC;
$yellow-02: #FBD983;
$yellow-03: #FDE8B5;
$dark-02: #666666;
$dark-03: #A6A6A6;
$light-02: #f1f1f1;

// OVERWRITE BOOTSTRAP

// Colors
$primary:       $create-blue-02;
$secondary:     $dark-02;
// $success:       $green !default;
$info:          $blue-04;
$warning:       $create-orange-02;
$danger:        $create-red-02;
$light:         $light-02;
$dark:          $create-dark-01;

// components
$enable-responsive-font-sizes:  true;
$input-btn-padding-x:           1.5rem;
$border-radius:                 .5rem;
$nav-link-padding-x:            2rem;
$link-color:                    $create-blue-03;
$link-decoration:               underline;

// import bootstrap and apply overwritten variables, we are using bootstrap version 4.6, older or newer version may cause some class failing to work
@import "bootstrap/bootstrap";

// CUSTOM

$hero-cover-color: $create-blue-01;
$card-hover: $blue-04;
$speed: all .25s ease;

@mixin standard-transition {
  -webkit-transition: $speed;
  -moz-transition: $speed;
  -ms-transition: $speed;
  -o-transition: $speed;
  transition: $speed;
}

// IMPORT OTHER SCSS

@import "general";
@import "cover-img";
@import "project-page";
@import "store-page";