$project-box: 265px;

/*project list*/
.filterDiv {
    float: left;
    position: relative;
    color: $black;
    padding-top: 0;
    text-align: center;
    margin: .5rem;
    display: none;
    border-radius: 1rem;
    &.show {
        display: block;
    }
}

/*project image overlaying*/
.imgcontainer {
    position: relative;
    width: $project-box;
    height: $project-box;
    padding-top: 0px;
    overflow: hidden;
    &:hover .overlay {
        opacity: 0.8;
    }
    img {
        position: relative;
        display: block;
        width: 100%;
        height: $project-box;
        object-fit: cover;
        border-radius: 0.5rem;
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        @include standard-transition;
        border-radius: 0.5rem;
        background-color: $primary;
    }
    .text {
        color: $light;
        position: absolute;
        font-weight: bold;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}