$sales-box: 265px;

// product filter
.sales-category {
  text-transform: capitalize;
  margin: 2px 2px 2px 0px;
}

.filtered {
  display: none;
}

.sales-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

// product list
.sales-product {
  width: $sales-box;
  text-align: center;
  box-shadow: 1px 1px 2px $dark;
  margin: 5px;
  a {
    color: $dark;
    text-decoration: none;
  }
}

// product image box
.product-box {
  margin: auto;
  vertical-align: middle;
  img {
    padding: 10px;
    width: $sales-box;
    height: $sales-box;
    object-fit: contain;
  }
  &:hover p {
    color: inherit;
  }
}

// search function
.searchfunction {
  padding: 5px;
  width: 200px;
  margin: 5px;
}

// product details page
.purchase input,
.productinfo input {
  padding: 10px;
}
.productimg {
  text-align: center;
  float: left;
  img {
    width: 90%;
    margin: 5px;
  }
  @media (max-width: 767.98px) {
    width: 100%;
  }
}

.product-title {
    justify-content: center;
}

// map
#salesmap {
  @include media(">phone", "<=tablet") {
    height: 25em;
  }
  @include media(">tablet") {
    height: 50em;
  }
}