---
layout: default
subtitle: A student-led maker club at UNSW Sydney.
image: /images/home-cover-2019.gif
btn-name: Learn More
btn-url: /#about-create
---
<!--Home Cover-->
<div class="home-cover">
    <img src="{{ page.image }}" alt="Cover Photo">
	<div class="cover-filter"></div>
	<div class="title-block">
		<p>CREATE UNSW</p>
		<p class="big-title">BUILD. LEARN. INSPIRE.</p>
		<p>{{ page.subtitle }}</p>
		<a href="{{ page.btn-url }}" class="btn btn-lg btn-warning my-4 font-weight-bold">{{ page.btn-name }}</a>
    </div>
</div>
<!--About CREATE-->
<div class="container-xl py-4" id="about-create">
	<div class="row">
		<div class="col-md">
			<h2>About CREATE</h2>
		</div>
	</div>
	<div class="row row-cols-1 row-cols-md-3">
		{% for card in site.data.home-cards %}
		<div class="col mb-4">
			<div class="card h-100 bg-light shadow">
				<img src="{{ card.image }}" class="card-img-top" alt="{{ card.alt }}">
				<div class="card-body">
					<h3 class="card-title">{{ card.title }}</h3>
					<p class="card-text">{{ card.description }}</p>
				</div>
				<div class="card-footer">
					<a href="{{ card.btn-link }}" class="btn btn-block btn-outline-primary font-weight-bold">{{ card.btn-text }}</a>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
<!--Get Involved-->
<div class="container-xl py-4">
	{% include get-involved.html %}
</div>