---
layout: default
title: Build - Learn - Inspire
topic: CREATE UNSW
sub-topic: A student-led maker club based at UNSW Sydney.
image: /images/home-cover-2019.gif
---

<div class="main-content">
		<div class="wrapper">
			<div class="single-column">
				<h3>What We Do</h3>
			</div>
			<article>
				<div class="columng black">
					<img src="/images/20180409_CREATE_EGM_Arduino1-0028.jpg" alt="Workshop Image">
					<h4>Workshops & Socials</h4>
					<p>CREATE runs various workshops & social events throughout the regular university terms. No formal arrangements are necessary to attend the workshops, just show up and join in. <a href="{{'/events' | prepend: site.baseurl }}">Learn More</a></p>
					
				</div>
			</article>
			<article>
				<div class="columng black">
					<img src="/images/20180416_CREATE_Arduino2-0006.jpg" alt="Sales Image">
					<h4>Electronic Component Sales</h4>
					<p>CREATE sells electronic parts including micro-controllers, breadboards, Arduino kits and quadcopters throughout the regular university terms. <a href="{{'/store' | prepend: site.baseurl }}">Learn More</a></p>
					
				</div>
			</article>
			<article>
				<div class="columng black">
					<img src="/images/20180522_CREATE_Synergy_BumpIn-3593.jpg" alt="Team Projects Image">
					<h4>Projects</a></h4>
					<p>CREATE actively participates in various public projects including Vivid Sydney Light Festivals and Droid Racing Challenge (DRC). <a href="{{'/projects' | prepend: site.baseurl }}">Learn More</a></p>
					
				</div>
			</article>
			<article>
				<div class="columng black">
					<img src="/images/IMG_2709.jpg" alt="CREATE Starters Image">
					<h4>Funding for Student Projects</h4>
					<p>If you have an idea for a project that involves putting together and making any project, we want to provide you with everything needed to get your project off the ground. <a href="{{'/projects' | prepend: site.baseurl }}">Learn More</a></p>
					
				</div>
			</article>
			
	</div>
</div>

<div class="main-content bg-lgrey">
	{% assign cats = site._media | map: 'categories' | join: ',' | split: ',' | uniq %}
	{% for cat in cats %}
<div class="wrapper">
	<!--Blog section shortcut-->
	{% if cat == 'blogs' %}
	<article>
		{% assign sorted = site._media | sort:"date" | reverse %}
			{% for _media in sorted limit:2 %}
			{% if _media.categories contains cat %}
		<div class="columng section">
			<h3>"CREATE" Blog</h3>
		</div>
		<a href="{{ _media.url }}">
			<div class="columng black mediab">
				<div class="mediaimg">
					<img src="{% if _media.image %} {{ _media.image }} {% else %} {{ '/images/image_unavilable_square.jpg' }} {% endif %}" alt="Image">
				</div>
				<h4>{{_media.title}}</h4>
				<p>{{ _media.date | date: "%d %B %Y"}}</p>
				<p>{{ _media.content | strip_html | truncatewords: 35}}</p>
			</div>
		</a>
		{% endif %}	{% endfor %} 
		
	</article>
	{% endif %}
	<!--Announcement section shortcut-->
	{% if cat == 'announcements' %}
	<article>	
			{% assign sorted = site._media | sort:"date" | reverse %}
				{% for _media in sorted limit:2 %}
				{% if _media.categories contains cat %}
			<div class="columng section">
				<h3>Announcements</h3>
			</div>
			<a href="{{ _media.url }}">
				<div class="columng black mediab">
					<div class="mediaimg">
						<img src="{% if _media.image %} {{ _media.image }} {% else %} {{ '/images/image_unavilable_square.jpg' }} {% endif %}" alt="Image">
					</div>
					<h4>{{_media.title}}</h4>
					<p>{{ _media.date | date: "%d %B %Y"}}</p>
					<p>{{ _media.content | strip_html | truncatewords: 35}}</p>
				</div>
			</a>
			{% endif %}	{% endfor %} 
			
	</article>
	{% endif %}			
</div>
{% endfor %}
</div>

<div class="main-content">
	<div class="wrapper">
		<div class="single-column centre">
			<h3>Follow us on social media</h3>
			<p>Hashtag <b>#createunsw</b> to share your photos with us.</p>
			<a href="https://www.facebook.com/CreateUnsw/" target="_blank"><button class="buttong yellow">Facebook Page</button></a>
			<a href="https://www.instagram.com/createunsw/" target="_blank"><button class="buttong yellow">Instagram Page</button></a>
		</div>
	</div>
</div>
