---
layout: default
title: Team
topic: Team
sub-topic: Executive Members | Committee | Team Directors
tagline: "we are entirely composed of student volunteers."
description: CREATE is entirely composed of student volunteers.
image: /images/20181008_CREATE_AGM-0081.jpg
permalink: /team/
---
<!--Current Executives-->
<div class="main-content" id="currentexecs">
	<div class="wrapper">
		<div class="row">
			<div class="left">
				<h2>Meet the 2019 Executive Team</h2>
			</div>
			<div class="right-align">
				<a href="#pastexecs"><button class="buttong yellow">Click Here for Past Executives</button></a>
			</div>
		</div>
		{% assign positions = site._people | map: 'status' | join: ','  | split: ',' | uniq %}
		{% for position in positions %}
		{% if position == 'current_executive' %}
		{% assign people = site._people | sort:"index" %}
		{% for person in people %}
		{% if person.status contains position %}
		<div class="columns-team">
			<div class="quarter-left left">
					<img src="{% if person.image %} {{ person.image }} {% else %} {{ '/images/people/default-avatar.jpg' }} {% endif %}" alt="{{ page.title }}">
			</div>
			<div class="third-quarter-right right">
				<h2>{{ person.title }}</h2>
				<p>{{ person.role }}</p>
				<!--{% if person.email %}
				<li><a href="mailto:{{ person.email }}" class="fa fa-envelope-o"target="_blank"></a></li>
				{% endif %}-->
				{% if person.linkedin-url %}
				<a href="{{ person.linkedin-url }}" class="fa fa-linkedin"target="_blank"></a>
				{% endif %}
				<p>{{ person.content }}</p>
			</div>
		</div>
		{% endif %}
		{% endfor %}	
		{% endif %}
		{% endfor %}
</div>
</div>

	<!--Past Executives-->
<div class="main-content" id="pastexecs">
		<div class="wrapper">
			<div class="row">
				<div class="left">
					<h2>Founders, Past Executives, Project Team Directors</h2>
					<p>We appreicate the following executives for their services & contribution to CREATE! </p>
				</div>
				<div class="right-align">
					<a href="#currentexecs"><button class="buttong yellow">Back to Current Executives</button></a>
				</div>
			</div>

				{% assign positions = site._people | map: 'status' | join: ','  | split: ',' | uniq %}
				{% for position in positions %}
				{% if position == 'founder' %}
			<button class="collapsible">Check here for the Founding Members</button>
				<div class="collape-content">
				{% assign people = site._people | sort:"index" %}
				{% for person in people %}
				{% if person.status contains position %}
					<div class="table-cell">
						<div class="columns fourgrids white profile">
							<img src="{% if person.image %} {{ person.image }} {% else %} {{ '/images/people/default-avatar.jpg' }} {% endif %}" alt="profile picture">
							<h2>{{person.title}}</h2>
							<p>{{person.role}} ({{person.year}})</p>
						</div>
					</div>
				{% endif %}
				{% endfor %}
				</div>
				{% endif %}
				{% endfor %}

				{% assign positions = site._people | map: 'status' | join: ','  | split: ',' | uniq %}
				{% for position in positions %}
				{% if position == 'past_executive' %}
			<button class="collapsible">Check here for Past Exexcutives, Project Team Directors</button>
			<div class="collape-content">
				{% assign people = site._people | sort:"index" %}
				{% for person in people %}
				{% if person.status contains position %}
					<div class="table-cell">
						<div class="columns fourgrids white profile">
							<img src="{% if person.image %} {{ person.image }} {% else %} {{ '/images/people/default-avatar.jpg' }} {% endif %}" alt="profile picture">
							<h2>{{person.title}}</h2>
							<p>{{person.role}} ({{person.year}})</p>
					</div>
					</div>
				{% endif %}
				{% endfor %}
			</div>
				{% endif %}
				{% endfor %}
	</div>
</div>
				<script>
				var coll = document.getElementsByClassName("collapsible");
				var i;

				for (i = 0; i < coll.length; i++) {
				coll[i].addEventListener("click", function() {
					this.classList.toggle("active");
					var content = this.nextElementSibling;
					if (content.style.display === "block") {
					content.style.display = "none";
					} else {
					content.style.display = "block";
					}
				});
				} 
				</script>

