<div class="alert alert-secondary">
    <p>Our weekly Sales Stall operations are currently suspended until further notice due to the Greater Sydney lockdown.</p>
    
    <p>We are also no longer doing pickups or deliveries. We aim to be up and running as soon as possible. Sorry for the inconvenience.</p>
    
    <!--<p>Our weekly Sales Stall are running again at the Globe Lawn every Monday 12pm to 4pm from Term 2 in 2021.</p>

    <p>We also offer pickups of components. Send an email to {% include sales/email.html %} to organise a time.</p>-->
</div>
