<div class="alert">
    <p>Our weekly Sales Stall operations are currently suspended until further notice due to the Greater Sydney lockdown.</p>
    
    <p>If you are in urgent need for pickups, send an email to {% include sales/email.html %} to organise a time.</p>
    
    <!--<p>Our weekly Sales Stall are running again at the Globe Lawn every Monday 12pm to 4pm from Term 2 in 2021.</p>

    <p>We also offer pickups of components. Send an email to {% include sales/email.html %} to organise a time.</p>-->
</div>
