<input type='hidden' name='add' value='1'>
<input type='hidden' name='cmd' value='_cart'>
<input type='hidden' name='business' value='sales@createunsw.com.au' />
<input type='hidden' name='item_name' value='{{ content.title }}' />
<input type='hidden' name='item_number' value='' />
<input type='hidden' name='amount' value='{{ content.price }}' />
<input type='hidden' name='no_note' value='1' />
<input type='hidden' name='currency_code' value='AUD' />
<input type='hidden' name='lc' value='AU'>
<input type="hidden" name="no_shipping" value="1">
<input type="hidden" name="return" value="http://createunsw.com.au/catalogue">
