---
layout: default-cover
title: Team
subtitle: Passionate executives are ready to bring you exciting events
description: "We are entirely composed of student volunteers."
image: /images/create-team-2021.JPG
---
<div class="container-xl py-4">
	<div class="row">
		<div class="col-md">
			<h2>Your Executive Team</h2>
		</div>
	</div>
	<div class="row">
		<div class="col-md column-flex">
			{% assign positions = site._people | map: 'status' | join: ','  | split: ',' | uniq %}
			{% for position in positions %}
			{% if position == 'current_executive' %}
			{% assign people = site._people | sort:"index" %}
				{% include profile.html %}
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
<div class="container-xl py-4">
	<div class="row">
		<div class="col-md">
			<h2>Our past executives and directors</h2>
			<p>We appreciate all former executives for their contribution to CREATE.</p>
			<a href="/team/past-executives.html" class="btn btn-primary font-weight-bold">Our Past Executives</a>
		</div>
	</div>
</div>