<!--cover image section-->
{% if page.image %}
<div class="cover-img">
    <img src=" {{page.image}}" alt="Cover Photo">
    <div class="wrapper">
        <div class="title-block">
            {% if page.topic %}
            <h1>{{page.topic}}</h1>
            {% endif %}
            {% if page.sub-topic %}
            <p>{{page.sub-topic}}</p>
            {% endif %}
            {% if page.button %}
            <div class="cover-button">
                <a href="{{page.button}}"><button class="buttong yellow">{{page.button-text}}</button></a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
