<!--cover image section-->
{% if page.image %}
<div class="cover-img">
    <img src=" {{page.image}}" alt="Cover Photo">
    <div class="container-xl">
        <div class="title-block text-center">
            {% if page.title %}
            <h1>{{page.title}}</h1>
            {% else %}
            <h1>{{page.topic}}</h1>
            {% endif %}
            {% if page.sub-topic %}
            <p>{{page.sub-topic}}</p>
            {% endif %}
            {% if page.button %}
            <div class="cover-button">
                <a href="{{page.button}}" class="btn btn-primary">{{page.button-text}}</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}