<!--shortcut back to top of the page-->
<button onclick="topFunction()" id="topBtn" title="Go to top"><i class="fa fa-angle-up" aria-hidden="true"></i></button>
<script src="{{ "/js/footer-topbtn.js" | relative_url }}"></script>

<!---Partners--->
<div class="section-partners">
    <div class="container-xl">
        <div class="row">
            <div class="col-md text-center">
                <p class="font-weight-bold">We thank the partners for their support!</p>
                {% for partner in site.data.partners %}
                <a href="{{ partner.url }}"><img src="{{ partner.logo }}" alt="{{ partner.name }} Logo"></a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<!--Footer-->
<footer class="bg-dark text-white navbar-dark py-4">
    <div class='container-xl'>
        <div class="row">
            <div class="col-md-3">
                <a href="{{'/' | prepend: site.baseurl }}">
                    <img src="{{ site.logo }}" alt="footer-logo" class="footer-logo">
                </a>
            </div>
            <div class="col-md-3">
                <div class="pb-4">
                    <p class="h5 pb-3">General Enquries</p>
                    {% include email.html %}
                </div>
                <div class="pb-4">
                    <p class="h5 pb-3">Helpful Links</p>
                    {% for link in site.data.helpful-links %}
                        <p><a href="{{ link.url }}">{{ link.name }}</a></p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-3">
                <p class="h5 pb-3">About CREATE</p>
                {% for link in site.data.about-create %}
                    <p><a href="{{ link.url }}">{{ link.name }}</a></p>
                {% endfor %}
            </div>
            <div class="col-md-3 social">
                <p class="h5 pb-3">Follow Us</p>
                {% include socials.html %}
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <p>
                    We acknowledge the Bedegal people who are the Traditional Custodians of the Land where CREATE NSW Inc. operates. We pay our respect to their Elders past, present and future, and extend the respect to other Aboriginal and Torres Strait Islanders people across Australia.
                </p>
                <p>© {{ 'now' | date: "%Y" }} <a href="{{ '/' }}">CREATE NSW Inc.</a></p>
            </div>
        </div>
    </div>
</footer>