<!--subscribe section-->
<div class="bg-grey">
    <div class="wrapper">
        <div class="centre">
            <a href="https://member.arc.unsw.edu.au/s/clubdetail?clubid=0016F0000371Vx5QAE" target="_blank"><button
            class="buttong yellow">Join Create on SpArc</button></a>
        </div>
    </div>
</div>

<!--sponsors section-->
<div class="sponsors row">
    <div class="centre">
        <div class="column">
            <div class="sponsors-logo">
                <h3>Our Sponsors</h3>
                <a target="_blank" href="https://www.arc.unsw.edu.au/"><img
                        src="/images/logos/Arc Clubs Logo_Black_FILL.png" alt="Arc UNSW Logo"></a>
                <a target="_blank" href="https://www.engineering.unsw.edu.au/"><img
                        src="/images/logos/unsw_engineering_landscape.png" alt="UNSW Engineering Logo"></a>
                <a target="_blank" href="http://mcic.unsw.edu.au/"><img src="/images/logos/mcic_logo.png"
                        alt="MCIC Logo"></a>
            </div>
        </div>
        <div class="column">
            <div class="sponsors-logo">
                <h3>Sister Club</h3>
                <a href="{{'/makeunswad' | prepend: site.baseurl }}"><img src="/images/logos/makeclub_logo_colour.png"
                        alt="UNSW MAKE Club Logo"></a>
            </div>
        </div>
        <div class="column">
            <div class="sponsors-logo">
                <h3>Associated Project Teams</h3>
                <a target="_blank" href="https://www.unswilluminate.com/"><img
                        src="/images/logos/unsw-illuminate-dark.png" alt="UNSW Illuminate Logo"></a>
                <a target="_blank" href="https://flightlabs.com.au/"><img src="/images/logos/FlightLabsUNSW.png"
                        alt="Flight Labs UNSW Logo"></a>
            </div>
        </div>
    </div>
</div>

<!--footer section-->
<footer class="footer bg-dblue row" id="footer">
    <div class="wrapper">
        <div class="footerleft">
            <p>Copyright @ 2019, <a href="{{'/index' | prepend: site.baseurl }}">CREATE NSW Inc.</a></p>
            <p>Build - Learn - Inspire</p>
            <p><a href="mailto:create@createunsw.com.au">create@createunsw.com.au</a></p>
        </div>
        <div class="footerright">
            <p>Site Design by <a href="{{'/team/TszKinWilliamLiu' | prepend: site.baseurl }}">TSZ KIN LIU (William)</a>
            </p>
            <p><a href="https://www.facebook.com/CreateUnsw/" class="fa fa-facebook-official fa-black" target="_blank"
                    style="width: 30px; font-size: 20px; padding: 5px;"></a>
                <a href="https://www.instagram.com/createunsw/" class="fa fa-instagram" target="_blank"
                    style="width: 30px; font-size: 20px; padding: 5px;"></a>
                <a href="https://www.youtube.com/user/createunsw" class="fa fa-youtube" target="_blank"
                    style="width: 30px; font-size: 20px; padding: 5px;"></a>
                <a href="https://github.com/createunsw" class="fa fa-github" target="_blank"
                    style=" width: 30px; font-size: 20px; padding:5px;"></a></p>
        </div>
    </div>
</footer>