<!--header section-->
<header>
	<nav class="navbar navbar-expand-lg navbar-dark">
		<div class="container-xl">
			<a class="navbar-brand logo" href="{{'/index' | prepend: site.baseurl }}"><img src="{{ '/images/logos/create-logo-2020-new.png' | prepend: site.baseurl }}" alt="CREATE Logo"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07XL" aria-controls="navbarsExample07XL" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
	  
		  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2" id="navbarsExample07XL">
			<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
			  <li class="nav-item">
				<a class="nav-link" href="{{'/about' | prepend: site.baseurl }}">About</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{{'/team' | prepend: site.baseurl }}" >Team</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{{'/events' | prepend: site.baseurl }}" >Events</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{{'/projects' | prepend: site.baseurl }}" >Projects</a>
			  </li>
			  <!--li class="nav-item">
				<a class="nav-link disabled" href="{{'/media' | prepend: site.baseurl }}">Media</a>
			  </li-->
			  <li class="nav-item">
				<a class="nav-link" href="{{'/outreach' | prepend: site.baseurl }}">Outreach</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{{'/store' | prepend: site.baseurl }}">Store</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link" href="{{'/contact' | prepend: site.baseurl }}">Contact</a>
			  </li>
			  <!--li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="dropdown07XL" data-toggle="dropdown" aria-expanded="false">Dropdown</a>
				<div class="dropdown-menu" aria-labelledby="dropdown07XL">
				  <a class="dropdown-item" href="#">About</a>
				  <a class="dropdown-item" href="#">News</a>
				  <a class="dropdown-item" href="#">Contact</a>
				</div>
			  </li-->
			</ul>
			<!--form class="form-inline my-2 my-md-0">
			  <input class="form-control" type="text" placeholder="Search" aria-label="Search">
			</form-->
		  </div>
		</div>
	  </nav>		
</header>