---
layout: default-page
title: Media
subtitle: Newsletters / Announcements / Blog
description: CREATE's latest newsletters, announcements and blogs.
image: /images/IMG_2014_08_29_15_38_10_04491.JPG
---
<div class="row">
    <div class="col-md">
        <p class="h5">This page is currently archived.</p>
    </div>  
</div>
<!--Display media posts-->
<div class="card-grids-media">
    {% for post in site._media %}
    <div class="card">
        <img src="{{ post.image | prepend: site.baseurl }}" alt="Picture for - {{post.title}}">
        <div class="card-body">
            <a href="{{ post.url | prepend:site.baseurl }}" class="stretched-link"><p class="h5 mt-0">{{ post.title }}</p></a>
            <p class="date">{{ post.date | date_to_long_string }}</p>
            <h6>
                {% for tag in post.categories %}
                <span class="badge bg-light">{{ tag | capitalize }}</span>
                {% endfor %}
            </h6>
        </div>
    </div>
    {% endfor %}
</div>

