---
layout: default-page
title: Projects
subtitle:
description: "create starters and projects"
image: /images/vivid2019/20190520_CREATE_PI_BumpInDay5_ArtDesignSoftware-0039-WM.jpg
---
<!--General Information-->
<div class="row">
	<div class="col-md">
		<h2>Student Projects</h2>
		<p>CREATE hosts their own series of projects that provide opportunities for makers across any faculty to collaborate on team-based endeavours.</p>
		<div class="alert alert-primary my-2" role="alert">
			CREATE Project Illuminate is rebranded and operated as **UNSW Illuminate**, <a href="{{ site.unswilluminate }}">click here to visit their website</a>.
		</div>
	</div>
</div>
<!--Type Filter-->
<div class="row">
	<div class="col-md">
		<div id="myBtnContainer">
			<button class="btn btn-outline-danger font-weight-bold my-2 mr-2 active" onclick="filterSelection('all')"> Show all</button>
			{% assign cmap = site._projects | map: 'categories' | uniq %}
			{% assign cats = cmap | sort %}
			{% for cat in cats %}
			<button class="btn btn-outline-danger font-weight-bold my-2 mr-2" onclick="filterSelection('{{ cat }}')">{{ cat }}</button>
			{% endfor %}
		</div>
	</div>
</div>
<!--Display projects-->
<div class="row">
	<div class="column-flex">
		{% assign sorted = site._projects | sort:"date" | reverse %}
		{% for _projects in sorted %}
		<div class="filterDiv {{ _projects.categories }} shadow">
			<a href="{% if _projects.link %}{{ _projects.link }}{% else %}{{ _projects.url }}{% endif %}">
			<div class="imgcontainer">
				<img src="{{ _projects.image }}" alt="{{ _projects.slug }}">
				<div class="overlay">
					<div class="text">
						<p>{{ _projects.title }}</p>
					</div>
				</div>
			</div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>

<!--Run javascript onload-->
<script src="{{ "/js/project-filters.js" | relative_url }}"></script>