---
title: Contact
topic: Contact
sub-topic: Get in touch with us
image: /images/20181008_CREATE_AGM-0003.jpg
permalink: /contact/
---
<!--main content: contact info-->
<main type="main">
    <div class="container-xl">
        <div class="row">
            <div class="col-md py-2">
                <h3>General Enquires</h3>
                <p>For all general enquires, sponsorships, events enquires (except Sales). We will redirect you to the relevant representative who can address your query.</p>
                <p>{% include email.html %}</a></p>
                <h3>Sales Enquires</h3>
                <p>Online store, Product enquriries, Order Pickup enquires</p>
                <p>{% include sales/email.html %}</p>
            </div>
        </div>
    </div>
</main>
