---
layout: default
title: Team
topic: Team
sub-topic: Executive Members | Committee | Team Directors
tagline: "we are entirely composed of student volunteers."
description: CREATE is entirely composed of student volunteers.
image: /images/20181008_CREATE_AGM-0081.jpg
permalink: /team/
---
<!--Current Executives-->
<main type="main" id="currentexecs">
	<div class="container-xl">
		<div class="row">
			<div class="col-md text-center text-md-left">
				<h2>Meet the 2020 Executive Team</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md column-flex">
		{% assign positions = site._people | map: 'status' | join: ','  | split: ',' | uniq %}
		{% for position in positions %}
		{% if position == 'current_executive' %}
		{% assign people = site._people | sort:"index" %}
		{% for person in people %}
		{% if person.status contains position %}
				<div class="columns fourgrids">
					<img src="{% if person.image %} {{ person.image }} {% else %} {{ '/images/people/default-avatar.jpg' }} {% endif %}" alt="profile picture" class="card-img-top">
					<div class="card-body text-center">
						<h5>{{person.title}}</h5>
						<p>{{person.role}}</p>
						<p class="degree">{{person.degree}}</p>
					</div>
				</div>
		{% endif %}
		{% endfor %}
		{% endif %}
		{% endfor %}
			</div>
		</div>
		<hr class="my-4">
	</div>
</main>

	<!--Past Executives-->
<main type="main" id="pastexecs">
	<div class="container-xl">
		<div class="row">
			<div class="col-md-8">
				<h2>Past Executives</h2>
				<p>We appreicate the following executives for their services & contribution to CREATE! </p>
			</div>
		</div>
			{% assign positions = site._people | map: 'status' | join: ','  | split: ',' | uniq %}
			{% for position in positions %}
			{% if position == 'founder' %}
		<a class="btn btn-block collapsible text-center text-md-left">Check here for the Founding Members</a>
			<div class="collapse-content column-flex">
			{% assign people = site._people | sort:"index" %}
			{% for person in people %}
			{% if person.status contains position %}
				<div class="columns fourgrids">
					<img src="{% if person.image %} {{ person.image }} {% else %} {{ '/images/people/default-avatar.jpg' }} {% endif %}" alt="profile picture" class="card-img-top">
					<div class="card-body text-center">
						<h5>{{person.title}}</h5>
						<p>{{person.role}} ({{person.year}})</p>
					</div>
				</div>
			{% endif %}
			{% endfor %}
			</div>
			{% endif %}
			{% endfor %}

			{% assign positions = site._people | map: 'status' | join: ','  | split: ',' | uniq %}
			{% for position in positions %}
			{% if position == 'past_executive' %}
		<a class="btn btn-block collapsible text-center text-md-left">Check here for Past Exexcutives, Project Team Directors</a>
		<div class="collapse-content column-flex">
			{% assign people = site._people | sort:"index" %}
			{% for person in people %}
			{% if person.status contains position %}
				<div class="columns fourgrids">
					<img src="{% if person.image %} {{ person.image }} {% else %} {{ '/images/people/default-avatar.jpg' }} {% endif %}" alt="profile picture" class="card-img-top">
					<div class="card-body text-center">
						<h5>{{person.title}}</h5>
						<p>{{person.role}} ({{person.year}})</p>
					</div>
				</div>
			{% endif %}
			{% endfor %}
		</div>
			{% endif %}
			{% endfor %}
		<hr class="my-4">
		<div class="col-md text-center">
			<a href="#currentexecs" class="btn btn-primary">Back to Current Executives</a>
		</div>
	</div>
</main>

<script>
	var coll = document.getElementsByClassName("collapsible");
	var i;

	for (i = 0; i < coll.length; i++) {
	coll[i].addEventListener("click", function() {
		this.classList.toggle("active");
		var content = this.nextElementSibling;
		content.classList.add("container");
		if (content.style.display === "flex") {
			content.style.display = "none";
		} else {
			content.style.display = "flex";
		}
	});
	}
</script>

