---
layout: page
---
<!--cover image section for productdetail pages-->
<div class="cover-img">
    <img src="/images/20181008_CREATE_AGM-0081.jpg" alt="Cover Photo">
    <div class="container-xl">
        <div class="title-block">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</div>

<!--main content: Store intro-->
<main type="main">
    <div class="container-xl">
        <div class="row">
            <div class="col-md-6">
                <h3>Profile</h3>
            </div>
            <div class="col-md-6 right-align">
                <a href="{{'/team#currentexecs' | prepend: site.baseurl }}" class="btn btn-primary">Back to the Team</a>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-6 peopleimg">
                <img src="{% if page.image %} {{ page.image }} {% else %} {{ 'images/people/default-avatar.jpg' }} {% endif %}" alt="{{ page.title }}">
            </div>
            <div class="col-md-6">
                <h3>{{ page.title }}</h3>
                <h4>{{ page.role }}</h4>
                <h4>{{ page.manager }}</h4>
                <h5>{{ page.year }}</h5>
                <h5>{{ page.degree }}</h5>
                {% if page.linkedin-url %}
                <a href="{{ page.linkedin-url }}" class="fa fa-linkedin" target="_blank" style="font-size:30px;"></a>
                {% endif %}
                <hr class="my-4">
                <p>{{ page.content }}</p>
            </div>
        </div>
    </div>
</main>
